.w3-wide {
    
    text-decoration: blueviolet;
    
    text-align: center;
    background-color: coral;
    color: darkblue;
    
}

nav{
    background-color: aquamarine;
    
    text-size-adjust: 30px;
    text-align:center;
    color: darkblue;


}

.mySlides {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
        float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
